<div class="foot">
	<div class="row">
		<div class="columns medium-4 footer-inf">
			<h3>GPS Tracking System</h3>
			<p>
				Founded on the commitment of providing law enforcement agencies, businesses and families the absolute best tracking devices, GPS Tracker Shop is the online destination for people in search of both cost-effective and technologically remarkable GPS trackers. Specializing in both GPS data loggers and real-time GPS tracking solutions, GPS Tracker Shop offers the devices that help everyday families monitor driving habits of teens and elderly drivers, businesses boost fleet management strategies, communication and routing, and law enforcement groups conduct surveillance while working on a budget. This is why GPS Tracker Shop is the source for, "Locational Technology You Can Rely On!"
			</p>
		</div>
		<div class="columns medium-4 footer-contact">
			<h3>Contact Us</h3>
			<ul>
				<li>
					<strong>Address:</strong> No. 12, alley 81, Ling Lang Str., Cong Vi, Ba Dinh District, Hanoi, Vietnam.
				</li>
				<li>
					<strong>Phone:</strong>  012345678
				</li>
				<li>
					<strong>Skype:</strong>  hothucdong
				</li>
				<li>
					<strong>Email:</strong>  <a href="">hothucdongdhbk@gmail.com</a>
				</li>
			</ul>
			<ul>
				<li><h4>Follow Us</h4></li>
				<a href=""><i class="fi-social-facebook large"></i></a>
				<a href=""><i class="fi-social-twitter large"></i></a>
				<a href=""><i class="fi-social-google-plus large"></i></a>
				<a href=""><i class="fi-social-tumblr large"></i></a>
			</ul>
		</div>
		<div class="columns medium-4 footer-infor">
			<h3>GPS Tracking Info</h3>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Products</a></li>
				<li><a href="">Devices</a></li>
				<li><a href="">Contacts</a></li>
				<li><a href="">Blogs</a></li>
			</ul>
		</div>
	</div>
<div class="cpr-footer text-center">
	<p>
		Copyright © 2013 GPS Tracker System. All Rights Reserved.
	</p>
</div>
</div>
