<head>
	<meta charset="UTF-8">
	<meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{"/assets/img/foundation-icons/foundation-icons.css" | prepend: site.baseurl}}">
	<link rel="stylesheet" href="{{"/assets/umaps-line.css" | prepend: site.baseurl}}">
	<link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl}}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>