@font-face {
	font-family: "Futura";
	src: url("../assets/fonts/VNF-Futura.ttf")
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../assets/fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Md.otf");
	font-style: "normal"
}

$font-futura: "Futura", "VNF-Futura", Helvetica, Arial, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;


$body-font-family: $font-helvetica !default;

$global-radius: 2px !default;

//color
$primary-color: #14acf7;
$secondary-color: #e7e7e7;
$alert-color: #db423d;
$success-color: #88dd0e;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$dark: #202528;
$asphalt: #283239;
$yellow-label: #fff568;

$header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$topbar-bg-color: white !default;
$topbar-bg: $topbar-bg-color !default;

$topbar-link-color: $asphalt !default;
$topbar-link-color-hover: $asphalt !default;
$topbar-link-color-active: $asphalt !default;
$topbar-link-color-active-hover: $asphalt !default;

$topbar-height: 50px !default;
$topbar-margin-bottom: 0 !default;

$topbar-link-bg-hover: white !default;
$topbar-link-bg-color-hover: white !default;
$topbar-link-bg-active: white !default;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg-active, $lightness: 14%) !default;

$topbar-link-text-transform: uppercase !default;

$button-border-width: 1px;


@import 'foundation';

body {
	position: static;
	width: 100%;
	height: 100%;
	//background-color: rgba(210,50,98,0.5);
	//background: $asphalt;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		&>div {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.carbon {
			background-image: url(../assets/img/carbon-pattern.png);
			opacity: 0.7;
		}
		.image {
			background-image: url("../assets/img/dodge-viber-desktop.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.topbar-sticky {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.9;
	transition: top 0.3s linear;
}


.main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	.section {
		@media screen and(max-width: 40rem) {
			text-align: center;
		}
		position: relative;
		width: 100%;
		min-height: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		&.hero-image {
			overflow: hidden;
			.logo {
				display: block;
				margin: auto;
			}
		}
		.section-top-logo {
			margin: 20px;
		}
		.page-content {
			margin-top: 5rem;
			max-width: 950px;
			margin: 0 auto;
			color: white;
			h1, h2, h3, h4{
				font-family: $font-futura;
				color: white;
			}
			h1 {
				font-size: 2.5rem;
				color: white;
			}
			.demo-icon {
				width: 128px;
				height: 128px;
			}
		}
	}
}

.top-bar.transparent {
	margin-top: 10px;
	height: 60px;
	background: transparent;
	li {
		list-style: none;
		a {
			color: white;
			display: inline;
		}
	}
}

.section.map{
	background: url(../assets/img/map.png) no-repeat;
	background-size: cover;
	.map-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background-color: rgba(255, 255, 255, 0.5)
		background-color: rgba(150,176,139,0.7);
	}
}

body.top {
	.topbar-sticky {
		top: -20%;
	}
}

@mixin ghost-button($bg, $color) {
	background-color: transparent;
	border-width: 2px;
	color: $bg;
	font-weight: bold;
	transition: all 0.3s linear;
	&:hover, &:active, &:focus {
		color: $color;
		background-color: $bg;
	}
}

.button-ghost {
	@include button($bg: transparent, $border-color: $yellow-label, $radius: true);
	@include ghost-button($bg: $yellow-label, $color: $asphalt);
}
.pro, .enterprise{
	display: none;
}
.logo-partner{
	text-align: center;
	padding-top: 30px;
	padding-left:20px;
	img{
		width: 80px;
		height: 70px;
		background-color: transparent;
	}
}
.partner{
	position: absolute;
	bottom: 0px;
	width: 100%;
	min-height: 100%;
	background-color:rgba(0,255,255,0.4);
}
// contact - request
.request-location{
	background: none;
}
.request {
	background-color:white;
	position: absolute;
	left:0px;
	top: 0px;
	padding-top:30px;
	min-height: 100%;
	min-width:44%;
	h3{
		color: #000;
		a{
			text-decoration: none;
			color: #000;
			}
		}
	p{
		color: #000;
	}
}
.request-btn{
	padding-top: 30px;
}

.location{
	position: absolute;
	right: -14px;
	top: 0px;
	img{
		height: 565px;
	}
	//background:url(../assets/img/gps-location.png) no-repeat;
	//background-size: cover;
}
.contact{
	padding-left: 30px;
	padding-top:20px;

}
.contact .contact-inf{
	padding-bottom: 10px;
}
.follow{
	padding-top:10px;
	border-top: 1px solid #333;
	ul li{
		list-style-type: none;
		a{
			text-decoration: none;
			color: #fff;
			i{
				padding:10px 5px;
				font-size: 43px;
				transition: all 0.8s ease-in-out 0s;
				background-color: transparent;
				&:hover{
					color: #14acf7;
					transform: scale(1.2);
				}
			}
		}
	}
}
// Device page
.device-title{
	width: 950px;
	margin:50px  auto;
   h2{
  		clear:both;
  		border-bottom: 2px solid #72c02c;
  		color: #585f69;
  		text-align: center;
  	}
 }
.device-content{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .device{
    padding:0px;
    padding-bottom: 0px;
    border-radius: 4px;
    h3{
    	text-align: center;
    }
    p{
    	font-size: 15px;
    	padding:0px 5px;
    }
    label{
    	text-align: center;
    	padding:20px auto;
    	font-size: 20px;
    	color: red;
    }

  }
  .device .device-img{
    text-align: center;
    position: relative;
  }
  .device .device-img img{
    max-width: 80%;
    padding-bottom: 10px;
    padding-top: 12px;
    transition: all 0.8s ease-in-out 0s;
  }
  .device:hover img{
    transform: scale(1.1) rotate(2deg);
    overflow: hidden;
  }
  .device:hover label {
 		 background: #f2f2f2;
}
  .device:hover{
    box-shadow: 0 0 9px #ddd;
  }
 
 	.nav-bar{
  	width: 1050px;
  	height: 50px;
  	margin: 10px auto;
  	padding-bottom: 30px;
  	ul{
	  	width: 50%;
	  	float: right;
	  	margin-top: 10px;
	  	margin-bottom: 50px;
	  	padding-left: 30px;
	  	a{
	  		padding-left: 15px;
	  		padding-bottom: 5px;
	  		font-size: 20px;
	  		font-style: bold;
	  		font-family:'Open Sans', sans-serif;
	  		color:#555;
	  		&:hover{
	  			color: #72c02c;
	  			border-bottom: 3px solid #72c02c;
	  		}
	  	}

  	}
  	.slogan{
  		float: left;
  		padding-top: 10px;
		  	.logo{
		  		background:transparent;
		  		float: left;
		  		height: 120px;
		  		width: 90px;
		  		border-radius:3px;
		  	}
		  	h4{
		  		color: #F26C4F;
		  		padding-left:100px;
		  		font-style: bold;
		  	}
		  	h6{
		  		color: #F26C4F;
		  		padding-left: 100px;
		  	}
  }
  }

 /*Footer*/ 
footer {
	position: absolute;
	z-index: 1000;
	bottom: 0px;
	left: 0;
	width: 100%;
	opacity: 0.0;
	transition: top 0.3s linear;
}
.foot{
	width:100%;
	padding: 30px 10px 0px 10px;
	color: #dadada;
	background: #585f69;
	h3{
	border-bottom:2px solid #72c02c;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	}
	h4{
		text-align: left;
		color: #ffffff;
		border-bottom: 1px dotted #e4e9f0;
	}
	p{
		color: #fff;
		font-size: 15px;
	}
	ul li{
		list-style: none;
		padding: 12px auto;
		font-style: sans-serif;
		color: #fff;
		a{
			color:#72c02c;
			text-decoration: none;
			font-size: 18px;
		}
	}
}
.foot .row{
	max-width: 100%;
}

.foot .row .footer-inf{
	
}
.foot .row .footer-contact{
	ul li{
		font-size: 15px;
	}
	a{ 
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		i{
			font-size: 40px;
			padding: 10px 5px;
			background-color: transparent;
			transition: all 0.8s ease-in-out 0s;
			&:hover{
			color: #14acf7;
			transform: scale(1.1);
		}
		}
	}	
}
.foot .cpr-footer{
	padding-top:15px;
	padding-bottom:10px;
	min-width:100%;
	border-top: 1px solid #777;
	background:#3e4753;
	margin-bottom: 0px;
	margin-right:0px;
	margin-left:0px;
	p{
		font-size: 14px;
	}
}