@font-face {
	font-family: 'umaps-line';
	src:url('fonts/umaps-line.eot?-83e01v');
	src:url('fonts/umaps-line.eot?#iefix-83e01v') format('embedded-opentype'),
		url('fonts/umaps-line.woff?-83e01v') format('woff'),
		url('fonts/umaps-line.ttf?-83e01v') format('truetype'),
		url('fonts/umaps-line.svg?-83e01v#umaps-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="uli-"], [class*=" uli-"] {
	font-family: 'umaps-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uli-adjustments:before {
	content: "\e600";
}
.uli-alarmclock:before {
	content: "\e601";
}
.uli-anchor:before {
	content: "\e602";
}
.uli-aperture:before {
	content: "\e603";
}
.uli-attachments:before {
	content: "\e604";
}
.uli-bargraph:before {
	content: "\e605";
}
.uli-basket:before {
	content: "\e606";
}
.uli-beaker:before {
	content: "\e607";
}
.uli-bike:before {
	content: "\e608";
}
.uli-book-open:before {
	content: "\e609";
}
.uli-briefcase:before {
	content: "\e60a";
}
.uli-browser:before {
	content: "\e60b";
}
.uli-calendar:before {
	content: "\e60c";
}
.uli-camera:before {
	content: "\e60d";
}
.uli-caution:before {
	content: "\e60e";
}
.uli-chat:before {
	content: "\e60f";
}
.uli-circle-compass:before {
	content: "\e610";
}
.uli-clipboard:before {
	content: "\e611";
}
.uli-clock:before {
	content: "\e612";
}
.uli-cloud:before {
	content: "\e613";
}
.uli-compass:before {
	content: "\e614";
}
.uli-desktop:before {
	content: "\e615";
}
.uli-dial:before {
	content: "\e616";
}
.uli-document:before {
	content: "\e617";
}
.uli-documents:before {
	content: "\e618";
}
.uli-download:before {
	content: "\e619";
}
.uli-dribbble:before {
	content: "\e61a";
}
.uli-edit:before {
	content: "\e61b";
}
.uli-envelope:before {
	content: "\e61c";
}
.uli-expand:before {
	content: "\e61d";
}
.uli-facebook:before {
	content: "\e61e";
}
.uli-flag:before {
	content: "\e61f";
}
.uli-focus:before {
	content: "\e620";
}
.uli-gears:before {
	content: "\e621";
}
.uli-genius:before {
	content: "\e622";
}
.uli-gift:before {
	content: "\e623";
}
.uli-global:before {
	content: "\e624";
}
.uli-globe:before {
	content: "\e625";
}
.uli-googleplus:before {
	content: "\e626";
}
.uli-grid:before {
	content: "\e627";
}
.uli-happy:before {
	content: "\e628";
}
.uli-hazardous:before {
	content: "\e629";
}
.uli-heart:before {
	content: "\e62a";
}
.uli-hotairballoon:before {
	content: "\e62b";
}
.uli-hourglass:before {
	content: "\e62c";
}
.uli-key:before {
	content: "\e62d";
}
.uli-laptop:before {
	content: "\e62e";
}
.uli-layers:before {
	content: "\e62f";
}
.uli-lifesaver:before {
	content: "\e630";
}
.uli-lightbulb:before {
	content: "\e631";
}
.uli-linegraph:before {
	content: "\e632";
}
.uli-linkedin:before {
	content: "\e633";
}
.uli-lock:before {
	content: "\e634";
}
.uli-magnifying-glass:before {
	content: "\e635";
}
.uli-map:before {
	content: "\e636";
}
.uli-map-pin:before {
	content: "\e637";
}
.uli-megaphone:before {
	content: "\e638";
}
.uli-mic:before {
	content: "\e639";
}
.uli-mobile:before {
	content: "\e63a";
}
.uli-newspaper:before {
	content: "\e63b";
}
.uli-notebook:before {
	content: "\e63c";
}
.uli-paintbrush:before {
	content: "\e63d";
}
.uli-paperclip:before {
	content: "\e63e";
}
.uli-pencil:before {
	content: "\e63f";
}
.uli-phone:before {
	content: "\e640";
}
.uli-picture:before {
	content: "\e641";
}
.uli-pictures:before {
	content: "\e642";
}
.uli-piechart:before {
	content: "\e643";
}
.uli-presentation:before {
	content: "\e644";
}
.uli-pricetags:before {
	content: "\e645";
}
.uli-printer:before {
	content: "\e646";
}
.uli-profile-female:before {
	content: "\e647";
}
.uli-profile-male:before {
	content: "\e648";
}
.uli-puzzle:before {
	content: "\e649";
}
.uli-quote:before {
	content: "\e64a";
}
.uli-recycle:before {
	content: "\e64b";
}
.uli-refresh:before {
	content: "\e64c";
}
.uli-ribbon:before {
	content: "\e64d";
}
.uli-rss:before {
	content: "\e64e";
}
.uli-sad:before {
	content: "\e64f";
}
.uli-scissors:before {
	content: "\e650";
}
.uli-scope:before {
	content: "\e651";
}
.uli-search:before {
	content: "\e652";
}
.uli-shield:before {
	content: "\e653";
}
.uli-speedometer:before {
	content: "\e654";
}
.uli-strategy:before {
	content: "\e655";
}
.uli-streetsign:before {
	content: "\e656";
}
.uli-tablet:before {
	content: "\e657";
}
.uli-telescope:before {
	content: "\e658";
}
.uli-toolbox:before {
	content: "\e659";
}
.uli-tools:before {
	content: "\e65a";
}
.uli-tools-2:before {
	content: "\e65b";
}
.uli-traget:before {
	content: "\e65c";
}
.uli-trophy:before {
	content: "\e65d";
}
.uli-tumblr:before {
	content: "\e65e";
}
.uli-twitter:before {
	content: "\e65f";
}
.uli-upload:before {
	content: "\e660";
}
.uli-video:before {
	content: "\e661";
}
.uli-wallet:before {
	content: "\e662";
}
.uli-wine:before {
	content: "\e663";
}
.uli-heart2:before {
	content: "\e664";
}
.uli-cloud2:before {
	content: "\e665";
}
.uli-star:before {
	content: "\e666";
}
.uli-tv:before {
	content: "\e667";
}
.uli-sound:before {
	content: "\e668";
}
.uli-video2:before {
	content: "\e669";
}
.uli-trash:before {
	content: "\e66a";
}
.uli-user:before {
	content: "\e66b";
}
.uli-key2:before {
	content: "\e66c";
}
.uli-search2:before {
	content: "\e66d";
}
.uli-settings:before {
	content: "\e66e";
}
.uli-camera2:before {
	content: "\e66f";
}
.uli-tag:before {
	content: "\e670";
}
.uli-lock2:before {
	content: "\e671";
}
.uli-bulb:before {
	content: "\e672";
}
.uli-pen:before {
	content: "\e673";
}
.uli-diamond:before {
	content: "\e674";
}
.uli-display:before {
	content: "\e675";
}
.uli-location:before {
	content: "\e676";
}
.uli-eye:before {
	content: "\e677";
}
.uli-bubble:before {
	content: "\e678";
}
.uli-stack:before {
	content: "\e679";
}
.uli-cup:before {
	content: "\e67a";
}
.uli-phone2:before {
	content: "\e67b";
}
.uli-news:before {
	content: "\e67c";
}
.uli-mail:before {
	content: "\e67d";
}
.uli-like:before {
	content: "\e67e";
}
.uli-photo:before {
	content: "\e67f";
}
.uli-note:before {
	content: "\e680";
}
.uli-clock2:before {
	content: "\e681";
}
.uli-paperplane:before {
	content: "\e682";
}
.uli-params:before {
	content: "\e683";
}
.uli-banknote:before {
	content: "\e684";
}
.uli-data:before {
	content: "\e685";
}
.uli-music:before {
	content: "\e686";
}
.uli-megaphone2:before {
	content: "\e687";
}
.uli-study:before {
	content: "\e688";
}
.uli-lab:before {
	content: "\e689";
}
.uli-food:before {
	content: "\e68a";
}
.uli-t-shirt:before {
	content: "\e68b";
}
.uli-fire:before {
	content: "\e68c";
}
.uli-clip:before {
	content: "\e68d";
}
.uli-shop:before {
	content: "\e68e";
}
.uli-calendar2:before {
	content: "\e68f";
}
.uli-wallet2:before {
	content: "\e690";
}
.uli-vynil:before {
	content: "\e691";
}
.uli-truck:before {
	content: "\e692";
}
.uli-world:before {
	content: "\e693";
}
